<%= render 'components/navbar-top-back' %>

<%= form_tag positions_path, method: :get do %>
  <%= text_field_tag :user_query, params[:user_query], placeholder: "Oscar Dupont ou votre numéro de dossard"%>
  <%= submit_tag "Rechercher", class: "btn" %>
<% end %>

<% @positions.each do |position| %>
  <div id="position-<%= position.id %>">
    <p>Position dans le classement: <%= position.place %></p>
    <p>Nom: <%= position.user.last_name %></p>
    <p>Prénom: <%= position.user.first_name %></p>
    <p>Temps: <%= position.time.hour %>h<%= position.time.min %>min</p>
    <p>Nombre de points: <%= position.point %></p>
  </div>
<% end %>

<%= render 'components/navbar-bottom-ranking' %>
