<%= render 'components/navbar-top-back' %>

<div class="card">
  <p>Classement Général 💪</p>
</div>

<div class="classement d-flex justify-content-center">
  <%= form_tag positions_path, method: :get do %>
    <%= text_field_tag :user_query, params[:user_query], placeholder: "Oscar Dupont ou votre numéro de dossard", class: 'input-search' %>
    <%= submit_tag "Rechercher", class: "btn-classement" %>
  <% end %>
</div>

<div class="responsive-table-line" style="margin:0px auto;">
  <table class="table-striped justify-content-center">
    <thead class="result thead-light">
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Temps</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <% @positions.each do |position| %>
        <tr>
          <td><%= position.place %></td>
          <td class="text-uppercase"><%= position.user.last_name %></td>
          <td class="text-capitalize"><%= position.user.first_name %></td>
          <td><%= position.time.hour %>h<%= position.time.min %>min</td>
          <td><%= position.point %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'components/navbar-bottom-ranking' %>
