<h2>Modifier mon profil</h2>
<%= simple_form_for(@user) do |f| %>
  <%= f.input :first_name, label: 'Prénom', placeholder: 'Oscar' %>
  <%= f.input :last_name, label: 'Nom de famille', placeholder: 'Dupont' %>
  <%= f.input :username, label: 'Surnom' %>
  <%= f.input :location, label: "Ville d'origine", placeholder: 'Marseille' %>
  <%= f.label :avatar, label: 'Photo de profil' %>
  <%= f.file_field :avatar %>
  <%= f.label :photo, label: 'Photo de couverture' %>
  <%= f.file_field :photo %>
  <%= f.submit 'Valider' %>
<% end %>
