<% events.each do |event| %>
  <div id="event-<%= event.id %>">
  <%= link_to new_favorite_path(event.id), method: :post, remote: true do %>
    <% if current_user.events.include?(event) %>
      <i class="fas fa-heart"></i>
    <% else %>
      <i class="far fa-heart"></i>    
    <% end %>
  <% end %>
  <%= link_to event_path(event.id) do %>
    <% if event.photo.attached? %>
      <%= cl_image_tag event.photo.key %>
    <% end %>
    <%= event.title %>
    <%= event.description %>
    <%= event.date %>
  <% end %>
  </div>
<% end %>