<% events.each do |event| %>
<div id="event-<%= event.id %>">
  <%= link_to event_path(event.id) do %>
    <% if event.photo.attached? %>
      <div class="card-category" style="background-image: url(<%= cl_image_path(event.photo.key) %>)">
    <% else %>
      <div class="card-category" style="background-image: url(https://static.wixstatic.com/media/dc92a4_c59f606c98a94f9cb4a1df7d4190ab9d~mv2.jpg)">
    <% end %>
      <%= event.date.hour %>H<%= event.date.min %> - <%= event.date.day %>/<%= event.date.month %>/<%= event.date.year %>
      <br>
      <%= event.title.upcase %>
    </div>
  <% end %>
</div>

  <div class="favorite-heart">
    <%= link_to new_favorite_path(event.id), method: :post, remote: true do %>
      <% if current_user.events.include?(event) %>
        <i><img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953092/likered_tccexp.png" width="35"></i>
      <% else %>
        <i><img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1592235242/heartwhite_d9nqki.png" width="35"></i>
      <% end %>
    <% end %>
  </div>

<% end %>

<br><br><br>
