<%= render 'components/navbar-top-back' %>

<br><br><br><br>

<div class="py-4 shadow-sm p-3 mb-5">
  <div class="row justify-content-center nav-items">
    <div class="col-3 col-lg-3 text-center">
      <%= link_to events_path do %>
        <h5>Tous</h5>
      <% end %>
    </div>
    <div class="col-3 col-lg-3 text-center">
      <%= link_to day_events_path do %>
        <h5>Journée</h5>
      <% end %>
    </div>
    <div class="col-3 col-lg-3 text-center">
      <%= link_to night_events_path do %>
        <h5>Soirée</h5>
      <% end %>
    </div>
    <div class="col-3 col-lg-3 text-center">
      <%= link_to favorited_events_path do %>
        <h5>Favoris</h5>
      <% end %>
    </div>
  </div>
</div>

<h2>Tous les événements</h2>

<%= render 'shared_index', events: @events %>

<%= render 'components/navbar-bottom-calendar' %>
