<%= render 'components/navbar-top-back' %>

<ul class="menu-bar d-flex justify-content-around">
  <%= link_to events_path do %>
    <li class="text-uppercase">Tous</li>
  <% end %>
  <%= link_to day_events_path do %>
    <li class="text-uppercase font-weight-light">Journée</li>
  <% end %>
  <%= link_to night_events_path do %>
    <li class="text-uppercase font-weight-light">Soirée</li>
  <% end %>
  <%= link_to favorited_events_path do %>
    <li class="text-uppercase font-weight-light">Favoris</li>
  <% end %>
</ul>

<br><br>

<%= render 'shared_index', events: @events %>

<%= render 'components/navbar-bottom-calendar' %>
