<%= render 'components/navbar-top' %>

<div class="menu-bar d-flex justify-content-around">
  <%= link_to events_path do %>
    <span class="btn-gradient btn-events font-weight-bold">Tous</span>
  <% end %>
  <%= link_to day_events_path do %>
    <span class="btn-gradient btn-events font-weight-light">Journée</span>
  <% end %>
  <%= link_to night_events_path do %>
    <span class="btn-gradient btn-events font-weight-light">Soirée</span>
  <% end %>
  <%= link_to favorited_events_path do %>
    <span class="btn-gradient btn-events font-weight-light">Favoris</span>
  <% end %>
</div>

<br><br>

<%= render 'shared_index', events: @events %>

<%= render 'components/navbar-bottom-calendar' %>
