<h1 id="display">defi wind</h1>

<%= render 'components/navbar-top-back' %>

<br><br><br><br><br>

<%= link_to events_path do %>
  <div class="button-container-all">
    <span class="btn-gradient btn-events">Tous</span>
  </div>
<% end %>

<%= link_to day_events_path do %>
  <div class="button-container-day">
    <span class="btn-gradient btn-events font-weight-bold">Jour</span>
  </div>
<% end %>

<%= link_to night_events_path do %>
  <div class="button-container-night">
    <span class="btn-gradient btn-events">Soirée</span>
  </div>
<% end %>

<%= link_to favorited_events_path do %>
  <div class="button-container-favorite">
    <span class="btn-gradient btn-events">Favoris</span>
  </div>
<% end %>

<br><br>

<%= render 'shared_index', events: @events %>

<%= render 'components/navbar-bottom-calendar' %>


