<%= render 'components/navbar-top-back' %>

<br>

<div class="event-box">
  <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, width:'500px', height:'auto' %>
  <% else %>
    <img src="https://static.wixstatic.com/media/dc92a4_c59f606c98a94f9cb4a1df7d4190ab9d~mv2.jpg" width="500">
  <% end %>

  <div class="event-box-infos">

    <div>
      <h2><%= @event.title %></h2>
      <p><img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953090/calendar_ahxqni.png" width="23">  <%= render 'events/day' %>
        <img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1592323599/clock_vssmoh.png" width="20">  <%= render 'events/hour' %></p>
      <hr>
      <p><strong>DÉTAILS DE L'ÉVÉNEMENT</strong></p>
      <p><%= @event.description %></p>
    </div>
    <%= link_to new_favorite_path(@event.id), method: :post, remote: true do %>
      <% if current_user.events.include?(@event) %>
        <i><img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953092/likered_tccexp.png" class="event-box-heart avatar-bordered bg-white"></i>
      <% else %>
        <i><img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953092/likeblack_ltcvcq.png" class="event-box-heart avatar-bordered bg-white"></i>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to favorited_events_path do %>
  <div class="button-container">
    <span class="btn-gradient btn-event">Mes favoris</span>
  </div>
<% end %>

<br><br><br><br>

<%= render 'components/navbar-bottom-home' %>
