<%= render 'components/navbar-top-back' %>
<div class="profile-photos">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, id: "background-photo" %>
  <% end %>
  <% if current_user.avatar.attached? %>
    <%= cl_image_tag current_user.avatar.key, id: "profile-photo" %>
  <% end %>
  <%= link_to "Se déconnecter", destroy_user_session_path, class: "link" %>
</div>
<div class="container user-info-profile">
  <% if current_user.username != nil %>
    <% if current_user.username.empty? == false %>
      <p class="title"><strong><%= current_user.username %></strong> (<%= current_user.first_name %> <%= current_user.last_name %>)</p>
      <%= link_to edit_user_path(current_user), class: "edit profile" do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% else %>
      <p class="title"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
      <%= link_to edit_user_path(current_user), class: "edit profile" do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% end %>
  <% else %>
      <p class="title"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
      <%= link_to edit_user_path(current_user), class: "edit profile" do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% end %>
  <% if current_user.location %>
    <p><%= current_user.location %></p>
  <% end %>
  <p>#<%= current_user.race_number %></p>

</div>



<%= render 'components/navbar-bottom-profile' %>