<%= render 'components/navbar-top-back' %>

<div class="photo-couverture">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, width:'500px', height:'auto' %>
  <% else %>
    <img src="https://wzeweb-p-visuelorga-evn-affiche-thumb.s3.eu-west-1.amazonaws.com/affiche_415829.thumb44000.1548239690.jpg">
  <% end %>

  <div class="photo-prof-box">
    <div class="photo-prof">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key %>
      <% else %>
        <img src="https://ca.slack-edge.com/T02NE0241-U012B0V8Z0C-5a6d024e5d2e-512">
      <% end %>
    </div>
  </div>
</div>

<div class="p-haut">
  <div class="p-haut-username">
    <% if current_user.username.empty? == false && %>
      <p>@<%= current_user.username.downcase %></p>
    <% end %>
  </div>
  <div class="p-haut-info">
    <p>#<%= current_user.race_number %> &nbsp • &nbsp <%= current_user.first_name.upcase %> <%= current_user.last_name.upcase %> &nbsp • &nbsp <%= current_user.location.upcase %></p>
  </div>
</div>

  <div class="row">
    <%= line_chart current_user.position_for_graph %>
  </div>

<div class="p-bas">
<center>
  <div>
    <%= link_to favorited_events_path do %>
      <p>ÉVÉNEMENTS FAVORIS</p>
    <% end %>
  </div>
  <hr>
  <div>
    <%= link_to positions_path do %>
      <p>CLASSEMENT ENTRE AMIS</p>
    <% end %>
  </div>
  <hr>
  <div>
    <%= link_to edit_user_path(current_user) do %>
      <p>MODIFIER MON PROFIL</p>
    <% end %>
  </div>
  <hr>
  <div>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <p>DÉCONNEXION</p>
    <% end %>
  </div>
</center>
</div>

<%= render 'components/navbar-bottom-profile' %>

