<!-- Code Margaux -->

<div id="post-<%= post.id %>" class="container post">

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 p-0">
      <% if post.photo != nil %>
        <%= cl_image_tag post.photo.key, width:'100%' %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 mt-3 pl-3">
      <%= link_to new_like_path(post.id), method: :post, remote: true do %>
        <i><img src="assets/like.png" width="35"></i>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row justify-content-center post-text pt-0">
    <div class="col-12 col-lg-4 text-justify">
      <p><img src="assets/likeblack.png" width="20">  238 Likes</p>
      <div class="post-title-desc">
        <p><strong><%= post.title %></strong></p>
        <p><%= post.description %></p>
      </div>
      <div class="pt-4 pb-4">
        <p>IL Y A 1 JOUR</p>
      </div>
    </div>
  </div>

</div>
