     <div id="post-<%= post.id %>" class="container post py-6">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-12">
            <%= link_to new_like_path(post.id), method: :post, remote: true do %>
              <% if user.posts.include?(post) %>
                <i class="fas fa-heart"></i>
              <% else %>
                <i class="far fa-heart"></i>
              <% end %>
            <% end %>
            <% if post.photo.attached? %>
              <%= cl_image_tag post.photo.key %>
            <% end %>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-12 text-justify">
              <p><%= post.title %></p>
              <p><%= post.description %></p>
          </div>
        </div>
      </div>