<!DOCTYPE html>
<html>
  <head>
    <title>DefiWind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- app/views/layouts/application.html.erb -->

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Defiwind Community - L'app pour les compétiteurs Defiwind" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.defiwind.xyz" />
    <meta property="og:description" content="Retrouvez l'actualité en direct, le programme sur place, le classement et bien d'autres fonctionnalités !" />
    <meta property="og:image" content="https://res.cloudinary.com/dpwr92z8p/image/upload/c_fill,h_630,w_1200/v1592498575/fb_pic_yznvy0.png" />
    <meta name="description" content="Bienvenue sur l'application du Défi Wind ! Retrouvez l'actualité en direct, le programme sur place, le classement et bien d'autres fonctionnalités !">

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- <p class="notice"><%= notice %></p> -->
    <%= render 'components/flashes' %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
